alembic==1.8.0
docutils==0.17.1
Flask==2.0.1
flask-cors==3.0.10
flask-login==0.5.0
Flask-WTF==0.15.1
importlib_resources==1.4.0
pyln-client==0.10.1
PySocks==1.7.1
python-bitcoinlib==0.11.0
pyzmq==22.3.0
requests[socks]==2.26.0
SQLAlchemy==1.4.25
squeaklib==0.13.1
squeaknode-proto==0.1.7
typed-config==0.2.5
Werkzeug==2.0.3
