{% extends "base.html" %}

{% block content %}
<div class="back">
  <div class="div-center">
    <div class="content">
      <h3>Squeaknode Login</h3>
      <hr />
      <form>
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="name" class="form-control" id="userName" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <hr />
      </form>
    </div>
  </div>
</div>
{% endblock %}
